In [1]:
import pandas as pd

In [10]:
uni = pd.read_csv('uni.csv')
uni.sample(1)

C:\Users\LRT0373\AppData\Local\Temp\ipykernel_14952\3273018689.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  uni = pd.read_csv('uni.csv')

,originating-authority-charge-identifier,local-land-charge,statutory-provision,instrument,charge-creation-date,originating-authority,further-information-location,registration-date,charge-geographic-description,charge-address,...,land-capacity-description,land-compensation-amount-type,land-compensation-paid,amount-of-compensation,author,schema-version,geometry,image-name,error_message,version-id
41292,uniformkeyval-R7193KPN0B900,NaN,NaN,NaN,2022-05-03,NaN,NaN,2022-05-10,"Middle Farm, Middleyard, Kings Stanley, Stoneh...",NaN,...,NaN,NaN,NaN,NaN,"{'full-name': 'Initial load', 'organisation': ...",6.0,{'features': [{'geometry': {'coordinates': [[[...,NaN,NaN,NaN

In [14]:
dashboard_uni = pd.read_csv('Stroud District Council Dashboard Spatial Uni.csv', skiprows=1)
dashboard_uni.sample(1)

      originating_authority_charge_identifier  Year
10698             uniformkeyval-MSYBXEPN01A00  2013

In [18]:
merge = uni.merge(dashboard_uni, left_on= 'originating-authority-charge-identifier', right_on='originating_authority_charge_identifier')

In [20]:
merge.to_csv('uni_pai.csv', index=False)